In [1]:
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd

### 2021

In [2]:
#reads table from pdf file
#df = read_pdf('../consumer sentinel reports/csn_cy-2016_data_book.pdf',pages="20")

# 2021
df_2021 = read_pdf('../consumer sentinel reports/csn_cy-2021_data_book.pdf', pages = '22')
df_2021 = df_2021[0].drop(columns = ['Unnamed: 0'])

second_half_split = df_2021['# of Reports RankState 100K Population'].str.split(" ", 1, expand=True)#.rename({0: '# of Reports', 1: 'Rank State'}, axis = 1)
df_2021['num reports'] = second_half_split[0]

second_half_split[['Reports per', 'Unnamed: 1']] = df_2021[['Reports per', 'Unnamed: 1']]
second_half_split = second_half_split.drop(columns = [0])

#df_2021['# of Reports'] = second_half_split[0]
df_2021 = df_2021.drop(columns = ['# of Reports RankState 100K Population', 'Reports per', 'Unnamed: 1'])
second_half_split.columns = df_2021.columns
df_2021 = df_2021.append(second_half_split)

In [3]:
def process_2018_2021(file, page_num, year):
    df = read_pdf(file, pages = page_num)
    df = df[0].drop(columns = ['Unnamed: 0'])

    second_half_split = df['# of Reports RankState 100K Population'].str.split(" ", 1, expand=True)#.rename({0: '# of Reports', 1: 'Rank State'}, axis = 1)
    df['num reports'] = second_half_split[0]

    second_half_split[['Reports per', 'Unnamed: 1']] = df[['Reports per', 'Unnamed: 1']]
    second_half_split = second_half_split.drop(columns = [0])

    #df_2021['# of Reports'] = second_half_split[0]
    df = df.drop(columns = ['# of Reports RankState 100K Population', 'Reports per', 'Unnamed: 1'])
    second_half_split.columns = df.columns
    df = df.append(second_half_split)
    
    df.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    df['year'] = year
    return df

In [4]:
df_2021 = process_2018_2021('../consumer sentinel reports/csn_cy-2021_data_book.pdf', '22', 2021)

### 2019-2020

In [5]:
df_2020 = read_pdf('../consumer sentinel reports/csn_cy-2019_data_book.pdf', pages = '22')
df_2020 = df_2020[0]
df_2020.columns = ['rankstate', 'reports per 100k', 'skip', 'num reports']
df_2020 = df_2020.drop([0])

df_2020['rankstate'] = df_2020['rankstate'].str.replace(',', '')

split = df_2020['rankstate'].str.split('(\d+)', expand = True)
split = split.drop(columns = [0, 1, 4, 6, 7])
split[8][25] = 'District of Columbia'
split[8][26] = 'Puerto Rico'
split[['reports per 100k', 'num reports']] = df_2020[['reports per 100k', 'num reports']]

rows_to_append = split[[8, 'reports per 100k', 'num reports']]
split = split.drop(columns = [8, 'reports per 100k', 'num reports'])
rows_to_append.columns = split.columns
split = split.append(rows_to_append)
split.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']

Got stderr: Aug 28, 2022 12:29:01 PM org.apache.pdfbox.pdfparser.COSParser validateStreamLength
WARNING: The end of the stream doesn't point to the correct offset, using workaround to read the stream, stream start position: 5686928, length: 1552, expected end position: 5688480
Aug 28, 2022 12:29:01 PM org.apache.pdfbox.pdfparser.COSParser validateStreamLength
WARNING: The end of the stream doesn't point to the correct offset, using workaround to read the stream, stream start position: 5335806, length: 336, expected end position: 5336142

In [6]:
def process_2019_to_2020(file, page_num, year, opts = None):
    df_2020 = read_pdf(file, pages = page_num, pandas_options = opts)
    df_2020 = df_2020[0]
    df_2020.columns = ['rankstate', 'reports per 100k', 'skip', 'num reports']
    df_2020 = df_2020.drop([0])

    df_2020['rankstate'] = df_2020['rankstate'].str.replace(',', '')

    split = df_2020['rankstate'].str.split('(\d+)', expand = True)
    split = split.drop(columns = [0, 1, 4, 6, 7])
    split[8][25] = 'District of Columbia'
    split[8][26] = 'Puerto Rico'
    split[['reports per 100k', 'num reports']] = df_2020[['reports per 100k', 'num reports']]

    rows_to_append = split[[8, 'reports per 100k', 'num reports']]
    split = split.drop(columns = [8, 'reports per 100k', 'num reports'])
    rows_to_append.columns = split.columns
    split = split.append(rows_to_append)
    split.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    split['year'] = year
    return split

In [7]:
df_2020 = process_2019_to_2020('../consumer sentinel reports/csn_cy-2020_data_book.pdf', '22', 2020)
df_2019 = process_2019_to_2020('../consumer sentinel reports/csn_cy-2019_data_book.pdf', '22', 2019)

Got stderr: Aug 28, 2022 12:29:05 PM org.apache.pdfbox.pdfparser.COSParser validateStreamLength
WARNING: The end of the stream doesn't point to the correct offset, using workaround to read the stream, stream start position: 5686928, length: 1552, expected end position: 5688480
Aug 28, 2022 12:29:05 PM org.apache.pdfbox.pdfparser.COSParser validateStreamLength
WARNING: The end of the stream doesn't point to the correct offset, using workaround to read the stream, stream start position: 5335806, length: 336, expected end position: 5336142

### 2018

In [8]:
df_2018 = process_2018_2021('../consumer sentinel reports/csn_cy-2018_data_book.pdf', '22', 2018)

### 2017

In [9]:
def process_2017(file, page_num, year, opts = None):
    df_2017 = read_pdf(file, pages = page_num, pandas_options = {'header': 1})
    df_2017 = df_2017[0].drop([0])

    split = df_2017['Reports per 100K Population'].str.split(' ', expand = True)
    df_2017 = df_2017.drop(columns = ['Reports per 100K Population'])
    df_2017[[0, 1]] = split
    split = df_2017[['Rank State.1', 0, 1]]

    df_2017 = df_2017.drop(columns = split.columns)
    split.columns = df_2017.columns
    df_2017 = df_2017.append(split)
    df_2017.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    df_2017['year'] = year
    
    return df_2017

In [10]:
df_2017 = process_2017('../consumer sentinel reports/csn_cy-2017_data_book.pdf', '23', year = 2017, opts =  {'header': 1})

### 2016

In [11]:
def process_2016(file, page_num, year, opts = None):
    df = read_pdf(file, pages = page_num)
    df = df[0][['Unnamed: 4', 'Complaints.1', 'Unnamed: 5']].drop([0, 1])
    df.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    df['year'] = year
    return df

In [12]:
df_2016 = process_2016('../consumer sentinel reports/csn_cy-2016_data_book.pdf', '16', 2016)

In [13]:
df_2015 = process_2016('../consumer sentinel reports/csn_cy-2015_data_book.pdf', '16', 2015)
df_2015 = df_2015.drop([2])

In [14]:
df_2014 = process_2016('../consumer sentinel reports/csn_cy-2014_data_book.pdf', '16', 2014)
df_2014 = df_2014.drop([2])

In [15]:
df_2013 = process_2016('../consumer sentinel reports/csn_cy-2013_data_book.pdf', '16', 2013)
df_2013 = df_2013.drop([2])

In [16]:
df_2012 = process_2016('../consumer sentinel reports/csn_cy-2012_data_book.pdf', '16', 2012)
df_2012 = df_2012.drop([2])

In [17]:
df_2012

             state id_theft_per_capita id_theft_raw  year
3          Florida               361.3       69,795  2012
4          Georgia               193.9       19,232  2012
5       California               122.7       46,658  2012
6         Michigan               122.2       12,075  2012
7         New York               110.1       21,538  2012
8           Nevada               109.9        3,032  2012
9            Texas               108.6       28,299  2012
10         Arizona               107.3        7,032  2012
11        Maryland               105.0        6,178  2012
12         Alabama               104.9        5,060  2012
13        Illinois               100.9       12,993  2012
14     Mississippi               100.2        2,990  2012
15        Delaware                98.4          902  2012
16      New Jersey                95.1        8,430  2012
17        Colorado                93.8        4,864  2012
18    Rhode Island                91.7          963  2012
19  South Carolina                90.6        4,282  2012
20      New Mexico                89.1        1,858  2012
21    Pennsylvania                88.7       11,324  2012
22       Tennessee                88.1        5,690  2012
23       Louisiana                87.6        4,031  2012
24     Connecticut                81.2        2,915  2012
25  North Carolina                81.1        7,910  2012
26        Virginia                80.8        6,616  2012
27      Washington                77.9        5,373  2012
28            Ohio                77.0        8,891  2012
29        Missouri                74.8        4,505  2012
30        Arkansas                74.4        2,195  2012
31   Massachusetts                73.4        4,879  2012
32          Kansas                72.0        2,077  2012
33       Wisconsin                70.8        4,055  2012
34        Oklahoma                67.8        2,586  2012
35         Indiana                67.5        4,412  2012
36       Minnesota                63.9        3,437  2012
37          Oregon                63.3        2,467  2012
38   New Hampshire                59.2          782  2012
39        Nebraska                57.6        1,068  2012
40           Idaho                56.7          905  2012
41        Kentucky                56.2        2,463  2012
42            Utah                55.5        1,586  2012
43         Wyoming                55.2          318  2012
44   West Virginia                54.0        1,002  2012
45            Iowa                52.3        1,608  2012
46         Vermont                52.1          326  2012
47          Alaska                51.7          378  2012
48           Maine                50.1          666  2012
49         Montana                49.8          501  2012
50          Hawaii                47.3          658  2012
51    North Dakota                41.2          288  2012
52    South Dakota                39.6          330  2012

### 2011
Bug where it won't read the table

In [18]:
#df_2011 = process_2016('../consumer sentinel reports/csn_cy-2011_data_book.pdf', '17')
#df_2011
#df_2011 = read_pdf('../consumer sentinel reports/csn_cy-2011_data_book.pdf', pages = '16')

In [19]:
#df_2011 = read_pdf('../consumer sentinel reports/csn_cy-2011_data_book.pdf', pages = '16')
df_2011 = pd.read_csv('../data/df_2011_raw.csv')
#df_2011[['idx', 'state', 'id_theft_per_capita', 'id_theft_raw', 'year']] = df_2011['data'].str.split(' ', expand = True)
#df_2011 = df_2011.drop(['data', 'idx'], axis = 1)

In [20]:
import re
def process_2011(original_string):
    string = original_string.lstrip('0123456789.- ').replace(',', '')
    matches = re.findall(r'[A-Za-z ]+|\d+\.\d+|\d+',string)
    results = [x.strip() for x in matches]
    results.remove('')
    results.append(2011)
    return results

results = df_2011.apply(lambda row : process_2011(row['data']), axis = 1)
results_df = pd.DataFrame(results)
df_2011 = pd.DataFrame(results_df[0].to_list(), columns=['state', 'id_theft_per_capita', 'id_theft_raw', 'year'])

### 2010

In [21]:
def process_2010(file, page_num, year, opts = None):
    df = read_pdf(file, pages = page_num)
    df = df[0][['Unnamed: 0', 'Complaints.1', 'Unnamed: 2']].drop([0, 1])
    df.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    df['year'] = year
    return df

In [22]:
df_2010 = process_2010('../consumer sentinel reports/csn_cy-2010_data_book.pdf', page_num = '15', year = 2010)

### 2009

In [23]:
def process_2009(file, page_num, year, opts = None):
    df = read_pdf(file, pages = page_num)
    df = df[0][['Unnamed: 2', 'Complaints.1', 'Unnamed: 3']].drop([0, 1])
    df.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    df['year'] = year
    return df

In [24]:
df_2009 = process_2009('../consumer sentinel reports/csn_cy-2009_data_book.pdf', page_num = '15', year = 2009)

In [25]:
df_2008 = process_2009('../consumer sentinel reports/csn_cy-2008_data_book.pdf', page_num = '15', year = 2008)

### 2007

In [26]:
def process_2007(file, page_num, year, opts = None):
    df = read_pdf(file, pages = page_num)
    df = df[0][['Unnamed: 4', 'Complaints.1', 'Unnamed: 5']].drop([0, 1])
    df.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    df['year'] = year
    return df

In [27]:
df_2007 = process_2007('../consumer sentinel reports/csn_cy-2007_data_book.pdf', page_num = '19', year = 2007)

In [28]:
df_2006 = process_2007('../consumer sentinel reports/csn_cy-2006_data_book.pdf', page_num = '19', year = 2006)

### 2002-2005

In [29]:
states = ['Alabama',
'Alaska',
'Arizona',
'Arkansas',
'California',
'Colorado',
'Connecticut',
'Delaware',
'District of Columbia',
'Florida',
'Georgia',
'Guam',
'Hawaii',
'Idaho',
'Illinois',
'Indiana',
'Iowa',
'Kansas',
'Kentucky',
'Louisiana',
'Maine',
'Maryland',
'Massachusetts',
'Michigan',
'Minnesota',
'Mississippi',
'Missouri',
'Montana',
'Nebraska',
'Nevada',
'New Hampshire',
'New Jersey',
'New Mexico',
'New York',
'North Carolina',
'North Dakota',
'Ohio',
'Oklahoma',
'Oregon',
'Pennsylvania',
'Puerto Rico',
'Rhode Island',
'South Carolina',
'South Dakota',
'Tennessee',
'Texas',
'Utah',
'Vermont',
'Virginia',
'Virgin Islands',
'Washington',
'West Virginia',
'Wisconsin',
'Wyoming']

In [30]:
df = read_pdf('../consumer sentinel reports/csn_cy-2005_data_book.pdf', pages = list(range(65, 76)))

In [31]:
vals = []

for row in df:
    complaint = row.iloc[-1][1:4].values
    vals.append(complaint)

In [32]:
values_df = pd.DataFrame(vals, columns = ['2003', '2004', '2005'])
values_df['state'] = states

In [33]:
df = read_pdf('../consumer sentinel reports/csn_cy-2004_data_book.pdf', pages = list(range(198, 209)))

In [34]:
two_thousand_two = []

for row in df:
    complaint = row.iloc[-1][1]
    two_thousand_two.append(complaint)

In [35]:
values_df['2002'] = two_thousand_two
values_df = values_df[['state', '2002', '2003', '2004', '2005']]

In [36]:
def convert_to_numeric(x):
    if isinstance(x, str):
        new_str = x.replace(',', '')
        new_str = ''.join(new_str.split())
        new_str = float(new_str)
        return new_str
    else:
        new_str = str(x)
        new_str = new_str.replace(',', '')
        new_str = ''.join(new_str.split())
        new_str = float(new_str)
        return new_str

In [37]:
df_2006_copy = df_2006
df_2006_copy['state_pop'] = df_2006_copy['id_theft_raw'].apply(lambda x: convert_to_numeric(x))/(df_2006_copy['id_theft_per_capita'].apply(lambda x: convert_to_numeric(x))/100000)
df_2006_copy = df_2006_copy[['state', 'state_pop']]
df_2006 = df_2006.drop(['state_pop'], axis = 1)

In [38]:
values_df = values_df.merge(df_2006_copy)

In [39]:
values_df['2002_cap'] = values_df['2002'].apply(lambda x: convert_to_numeric(x))/values_df['state_pop'] * 100000
values_df['2003_cap'] = values_df['2003'].apply(lambda x: convert_to_numeric(x))/values_df['state_pop'] * 100000
values_df['2004_cap'] = values_df['2004'].apply(lambda x: convert_to_numeric(x))/values_df['state_pop'] * 100000
values_df['2005_cap'] = values_df['2005'].apply(lambda x: convert_to_numeric(x))/values_df['state_pop'] * 100000
values_df = values_df.drop(['state_pop'], axis = 1)

In [40]:
values_df = values_df[['state',
                       '2002', '2002_cap',
                      '2003', '2003_cap',
                      '2004', '2004_cap',
                      '2005', '2005_cap']]

In [41]:
values_df

,state,2002,2002_cap,2003,2003_cap,2004,2004_cap,2005,2005_cap
0,Alabama,273,5.934355,395,8.586337,520,11.303533,641,13.933778
1,Alaska,65,9.699219,44,6.565625,95,14.175781,98,14.623437
2,Arizona,856,13.883112,"1,282",20.792231,"1,467",23.792670,"1,596",25.884868
3,Arkansas,172,6.121275,328,11.673129,338,12.029018,371,13.203448
4,California,"5,619",15.406235,"7,882",21.610953,"8,724",23.919557,"9,496",26.036235
5,Colorado,493,10.375995,738,15.532423,853,17.952787,998,21.004551
6,Connecticut,275,7.850325,408,11.647028,456,13.017267,552,15.757744
7,Delaware,64,7.502285,123,14.418453,135,15.825132,166,19.459051
8,Florida,"2,849",15.751220,"3,608",19.947492,"4,193",23.181772,"4,638",25.642036
9,Georgia,768,8.198714,"1,141",12.180641,"1,424",15.201781,"1,603",17.112679
10,Hawaii,124,9.637724,160,12.435772,171,13.290732,226,17.565528
11,Idaho,74,5.050139,109,7.438719,139,9.486072,168,11.465181
12,Illinois,"1,389",10.830893,"1,904",14.846667,"2,133",16.632321,"2,297",17.911131
13,Indiana,510,8.075866,726,11.496232,854,13.523116,867,13.728971
14,Iowa,127,4.257733,206,6.906244,211,7.073871,265,8.884246
15,Kansas,178,6.436900,278,10.053137,361,13.054613,315,11.391144
16,Kentucky,190,4.518686,279,6.635334,368,8.751982,417,9.917327
17,Louisiana,310,7.227837,421,9.815869,501,11.681117,575,13.406472
18,Maine,60,4.537143,87,6.578857,101,7.637524,139,10.511048
19,Maryland,797,14.190571,973,17.324248,"1,119",19.923776,"1,227",21.846714
20,Massachusetts,499,7.748976,774,12.019454,804,12.485324,917,14.240102
21,Michigan,"1,146",11.351887,"1,759",17.424057,"1,956",19.375472,"1,841",18.236321
22,Minnesota,376,7.279109,538,10.415320,573,11.092897,671,12.990111
23,Mississippi,169,5.803012,252,8.653012,267,9.168072,318,10.919277
24,Missouri,517,8.843965,712,12.179696,896,15.327258,839,14.352198
25,Montana,49,5.182258,55,5.816820,86,9.095392,125,13.220046
26,Nebraska,87,4.921313,132,7.466820,168,9.503226,171,9.672926
27,Nevada,405,16.232465,573,22.965932,650,26.052104,781,31.302605
28,New Hampshire,84,6.390099,124,9.433003,119,9.052640,176,13.388779
29,New Jersey,"1,048",12.014138,"1,293",14.822787,"1,485",17.023850,"1,547",17.734611
30,New Mexico,148,7.568908,295,15.086675,318,16.262924,363,18.564281
31,New York,"2,779",14.391612,"3,696",19.140481,"4,152",21.501969,"4,236",21.936980
32,North Carolina,668,7.542310,"1,134",12.803862,"1,148",12.961935,"1,220",13.774878
33,North Dakota,10,1.571429,18,2.828571,35,5.500000,35,5.500000
34,Ohio,868,7.559349,"1,243",10.825196,"1,486",12.941466,"1,648",14.352312
35,Oklahoma,227,6.344720,377,10.537267,445,12.437888,514,14.366460
36,Oregon,467,12.624760,687,18.572185,762,20.599716,764,20.653783
37,Pennsylvania,"1,160",9.317327,"1,475",11.847463,"1,744",14.008119,"2,034",16.337450
38,Rhode Island,66,6.181463,117,10.958049,104,9.740488,144,13.486829
39,South Carolina,251,5.805939,433,10.015822,506,11.704402,642,14.850249
40,South Dakota,14,1.791525,33,4.222881,50,6.398305,59,7.550000
41,Tennessee,454,7.521676,640,10.603243,753,12.475378,793,13.138081
42,Texas,"2,352",10.002738,"3,635",15.459163,"4,511",19.184673,"5,139",21.855472
43,Utah,148,5.799873,232,9.091693,334,13.088903,310,12.148383
44,Vermont,24,3.842697,35,5.603933,53,8.485955,59,9.446629
45,Virginia,644,8.424528,924,12.087366,"1,029",13.460931,"1,124",14.703679
46,Washington,829,12.957009,"1,078",16.848801,"1,334",20.850000,"1,439",22.491117
47,West Virginia,80,4.397203,102,5.606434,146,8.024895,150,8.244755
48,Wisconsin,362,6.509148,415,7.462145,543,9.763722,638,11.471924
49,Wyoming,24,4.656881,48,9.313761,43,8.343578,67,13.000459

In [42]:
df_2002 = values_df[['state', '2002', '2002_cap']]
df_2002.columns = ['state', 'id_theft_raw', 'id_theft_per_capita']
df_2002['year'] = 2002

df_2003 = values_df[['state', '2003', '2003_cap']]
df_2003.columns = ['state', 'id_theft_raw', 'id_theft_per_capita']
df_2003['year'] = 2003

df_2004 = values_df[['state', '2004', '2004_cap']]
df_2004.columns = ['state', 'id_theft_raw', 'id_theft_per_capita']
df_2004['year'] = 2004

df_2005 = values_df[['state', '2005', '2005_cap']]
df_2005.columns = ['state', 'id_theft_raw', 'id_theft_per_capita']
df_2005['year'] = 2005

<ipython-input-42-6a20b67c559d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2002['year'] = 2002
<ipython-input-42-6a20b67c559d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2003['year'] = 2003
<ipython-input-42-6a20b67c559d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2004['year'] = 2004
<ipython-input-42-6a20b67c559d>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2005['year'] = 2005

## Alternative 2002 and 2003

In [ ]:
def process_2003(file, page_num, year, opts = None):
    df = read_pdf(file, pages = page_num)
    df = df[0][['Unnamed: 4', 'Victims', 'Unnamed: 5']].drop([0, 1])
    df.columns = ['state', 'id_theft_per_capita', 'id_theft_raw']
    df['year'] = year
    return df

In [ ]:
df_2003 = process_2003('../consumer sentinel reports/csn_cy-2003_data_book.pdf', 15, year = 2003)

In [ ]:
df_2002 = process_2003('../consumer sentinel reports/csn_cy-2002_data_book.pdf', 12, year = 2002)

### Combine all dataframes

In [43]:
df_list = [df_2002, df_2003, df_2004, df_2005, 
           df_2006, df_2007, df_2008, df_2009, 
           df_2010, df_2011, df_2012, df_2013, df_2014, 
           df_2015, df_2016, df_2017, df_2018, 
           df_2019, df_2020, df_2021]

In [44]:
for df in df_list:
    print(df.columns)

Index(['state', 'id_theft_raw', 'id_theft_per_capita', 'year'], dtype='object')
Index(['state', 'id_theft_raw', 'id_theft_per_capita', 'year'], dtype='object')
Index(['state', 'id_theft_raw', 'id_theft_per_capita', 'year'], dtype='object')
Index(['state', 'id_theft_raw', 'id_theft_per_capita', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')
Index(['state', 'id_theft_per_capita', 'id_theft_raw', 'year'], dtype='object')

In [45]:
def process_df(df):
    df['state'] = df['state'].str.replace('\d+', '')
    df['id_theft_per_capita'] = df['id_theft_per_capita'].apply(lambda x: convert_to_numeric(x))
    df['id_theft_raw'] = df["id_theft_raw"].apply(lambda x: convert_to_numeric(x))
    return df

In [46]:
for df in df_list:
    process_df(df)

<ipython-input-45-cef2b5c565f3>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['state'] = df['state'].str.replace('\d+', '')
<ipython-input-45-cef2b5c565f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('\d+', '')
<ipython-input-45-cef2b5c565f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id_theft_per_capita'] = df['id_theft_per_capita'].apply(lambda x: convert_to_numeric(x))
<ipython-input-45-cef2b5c565f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id_theft_raw'] = df["id_theft_raw"].apply(lambda x: convert_to_numeric(x))

In [47]:
full_df = df = pd.concat(df_list)
full_df

                   state  id_theft_raw  id_theft_per_capita  year
0                Alabama         273.0             5.934355  2002
1                 Alaska          65.0             9.699219  2002
2                Arizona         856.0            13.883112  2002
3               Arkansas         172.0             6.121275  2002
4             California        5619.0            15.406235  2002
..                   ...           ...                  ...   ...
21               Wyoming         620.0           107.000000  2021
22               Montana        1130.0           106.000000  2021
23          South Dakota         673.0            76.000000  2021
24  District of Columbia        4072.0           577.000000  2021
25           Puerto Rico        1404.0            44.000000  2021

[1010 rows x 4 columns]

In [48]:
full_df.to_csv('../data/panel_data.csv')